<!DOCTYPE html>

{% set pageId = "page-home" %}

<html lang="pt-br">

  <head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block title %}

      <title>DFC Online</title>

    {% endblock title %}

    {% block styles %}

      <link type="text/css" rel="stylesheet" href="/styles/index.css"/>
      <link type="text/css" rel="stylesheet" href="/styles/modal.css"/>
    {% endblock styles %}

  </head>

  {% block content %}

  <body>

    <header>

    <div class="Online-prices">

      <div class="stocks-block">

        <h3>Consulta de preços</h3>

        <select id="stocks">

          <option *disabled* *selected*></option>

          <option>TAEE11</option>

          <option>BBASE3</option>

          <option>ENBR3</option>

        </select><!--Online-prices-->

      </div><!--stocks-block-->

    <div class="price-result">

      <input disabled="disabled" placeholder="Price" id="price"/>

    </div><!--price-result-->

    </header><!--header-->

    <div class="content">
      
        <div class="metricas">
          <label for="perpet">Perpetuidade: </label>
          <input id="perpet" value="1%" disabled="disabled"/>

        </div><!--metricas-->
        <label for="debt">Informe a dívida da empresa:</label>
        <input type="number" required="required" id="debt"/><br>

        <label for="stocks-quantity">Informe o número de ações da empresa:</label>
        <input type="number" required="required" id="stocks-quantity"/><br>

        <label for="stockvalue">Informe o valor atual da ação</label>
        <input type="number" required="required" id="stockvalue" /><br>
        <fieldset>
          <label for="R-OP-LIQ">Informe a Receita operacional líquida da empresa:</label>
          <input type="number" required="required" id="R-OP-LIQ"/><br>

          <label for="NOPAT">Informe o NOPAT da empresa:</label>
          <input type="number" required="required" id="NOPAT"/><br>

          <label for="CAPEX">Informe o CAPEX da empresa:</label>
          <input type="number" required="required" id="CAPEX"/><br>

          <label for="VAR-NCG">Informe a variação da necessidade do capital de giro da empresa:</label>
          <input type="number" required="required" id="VAR-NCG" /><br>

          <label for="depreciation">Informe a depreciação da empresa:</label>
          <input type="number" required="required" id="depreciation"><br>

          <label for="fc-firma">Informe o fluxo de caixa da firma:</label>
          <input type="number" required="required" id="fc-firma"/>
        </fieldset>
        <button id="send-info">Calcular FCD</button>
        

      </div><!--content-->

    <footer></footer><!--footer-->

  </body>

{% endblock content %}


{% block modal %}
  {%include "fcd-results.html"%}
{% endblock modal %}

{% block scripts %}

  <script src="/scripts/index.js" type="module"></script>

{% endblock scripts %}

</html>