
#modal{
  width: 100%;
  /* margin-left:5%; */
}
/* #modal #results {
  /* /* font-weight: 700; */
  /* display:flex;  */
/* }  */

/* #modal .header   { */
  /* display: flex;
  align-items: center;
  justify-content: space-between; */
/* } */

#results div{
  display:inline-block;
}

#modal  button {
  display:flex;
  color:white;
  font-size:120%;
  align-items: center;
  background-color:#0E0A14ef;
  border:0;
}
